<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<small>作成日: <%= @article.created_at.strftime("%Y-%m-%d %H:%M") %></small>

<p>
  <%= link_to "編集", edit_article_path(@article) %> |
  <%= link_to "削除", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %> |
  <%= link_to "一覧に戻る", articles_path %>
</p>

<h2>コメント</h2>
<div id="comments">
  <% @article.comments.each do |comment| %>
    <div>
      <p><%= comment.body %></p>
      <small><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></small>
    </div>
  <% end %>
</div>
