<% content_for :title do %>
  <%= @article.title %> - My App
<% end %>

<article id="<%= dom_id(@article) %>">
  <h1><%= @article.title %></h1>
  <p class="author">by <%= @article.user.name %> | <%= @article.created_at.strftime('%Y-%m-%d') %></p>

  <div class="content">
    <%= simple_format(@article.content) %>
  </div>

  <div class="actions">
    <%= link_to "Edit", edit_article_path(@article), class: "btn" %>
    <%= button_to "Delete", @article, method: :delete, class: "btn btn-danger", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</article>

<section class="comments">
  <h2>Comments (<%= @article.comments.count %>)</h2>

  <div id="comments">
    <% @article.comments.includes(:user).order(created_at: :desc).each do |comment| %>
      <div class="comment" id="<%= dom_id(comment) %>">
        <p class="comment-author"><%= comment.user.name %></p>
        <p class="comment-body"><%= comment.body %></p>
        <span class="comment-date"><%= comment.created_at.strftime('%Y-%m-%d %H:%M') %></span>
      </div>
    <% end %>
  </div>

  <h3>Leave a comment</h3>
  <%= render "comments/form", article: @article, comment: @comment %>
</section>
