<%= form_with model: article do |f| %>
  <% if article.errors.any? %>
    <div class="errors">
      <h3><%= article.errors.count %>件のエラーがあります</h3>
      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, required: true %>
  </div>

  <div>
    <%= f.label :content, "本文" %>
    <%= f.text_area :content, rows: 10, required: true %>
  </div>

  <div>
    <%= f.submit article.new_record? ? "作成" : "更新" %>
  </div>
<% end %>
